$window-border-width: 2px;

$header-height: var(--header-height);
$menubar-height: var(--menubar-height);
body {
  &.desktop {
    --header-height: 66px;
    --menubar-height: 24px;
  }
  &:not(.desktop) {
    --header-height: 50px;
    --menubar-height: 0px;
  }
}
$top-bar-height: "(#{$header-height} + #{$menubar-height} + #{$window-border-width})";

$detail-view-splitter-cell-z-index: 2;

$character-item-size: 215px; // キャラクター並び替えダイアログなどでの１キャラ表示要素の横幅
